name: Build EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.10'

    - name: Install dependencies
      # 增加 imageio-ffmpeg (自带 ffmpeg.exe)
      run: |
        python -m pip install --upgrade pip
        pip install pyinstaller PyQt5 PyQt5-sip yt-dlp imageio-ffmpeg

    - name: Build EXE
      # 增加 --collect-all imageio_ffmpeg，把转码器打包进去
      run: |
        pyinstaller --noconsole --onefile --collect-all PyQt5 --collect-all yt_dlp --collect-all imageio_ffmpeg --name "SodaMusicPlayer" main.py

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: SodaMusicPlayer-EXE
        path: dist/SodaMusicPlayer.exe
